/* This CSS is common to all pages */

body {
  margin: 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.navitem {
  padding: 3px 10px;
}
.navitem.is-active {
  background-color: #eee;
}

.table-row-key {
  color: #6c757d !important;
  padding: 0.2rem 0.6rem;
  font-size: 0.85rem;
  width: 50%;
}

.table-row-value {
  font-weight: 500;
  padding: 0.2rem 0.6rem;
  font-size: 0.9rem;
  width: 50%;
}
