@use '../../../assets/styles/app'

.footer
    padding: 4rem 0
    &__map
        width: 100%
        height: 100%
        position: relative
        &Border
            content: ''
            position: absolute
            top: 5px
            right: 5px
            width: 100%
            height: 100%
            background: app.$red-color
        &Container
            width: 100%
            height: 300px
