@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap')

$red-color: #FF3838
$blue-color: #3BB1E3

body
    font-family: 'Montserrat'

a
    text-decoration: none

h1
    font-size: 3rem
    color: #fff
    font-weight: 900

h2
    font-size: 1.6rem
    font-weight: 600

h3
    font-size: 2.75rem
    color: #111
    font-weight: 800

.btn
    font-size: 0.75rem
    padding: 0.75rem 2rem
    font-weight: 500
    border-radius: 2em
    display: flex
    align-items: center
    justify-content: center

.btn-primary
    background: $red-color
    border-color: $red-color

.btn-primary-outline
    background: #fff
    border: 2px solid $red-color
    color: $red-color

.btn-secondary
    background: $blue-color
    border-color: $blue-color

.btn-secondary-outline
    background: #fff
    border: 2px solid $blue-color
    color: $blue-color

.text-secondary
    color: $blue-color !important

input
    // border-width: 0 !important
    border-radius: 2em !important
    padding: 0.2rem 1rem
    &::placeholder
        font-size: 0.85rem

.home__sections
    margin-top: 7rem

.home__services
    margin-top: 6rem

.home__start
    background: $red-color

.app__content
    background: rgba(0, 0, 0, 0.05)
    // background: #F3F3F3
    // background: #0

.pricelist-page
    li::marker
        color: $blue-color
        // background: url("https://etpp.ru/icons/tick.png")
.pricelist-page
    b
        color: $blue-color
